*

!.gitignore
!rust-toolchain.toml

!docs/
!docs/README.md
!docs/LICENSE.md
!docs/screnshot_01.png

!assets/
!assets/**/

!hosts/
!hosts/**/

!lib/

!modules/
!modules/**/

!flake.lock

!*.age
!*.gif
!*.md
!*.nix
!*.nu
!*.txt
!*.png
